body {
    font-family: Arial, sans-serif;
    background-color: var(--background-body, #fcf9f9);
    color: var(--color-body, black);
    margin: 0;
    padding: 0;
  }

  .menu-superior{
    text-align: right;
  }
  
  .container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    background: var(--background-container, #fcf9f9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  #form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #cv-container {
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
    .menu-superior{
      margin-top: 10px;
      font-size: large;
    }
    button{
      font-size: large;
    }
  }

[data-tema = 'dark']{
  --background-body: black;
  --background-container: black;
  --color-body: #fcf9f9;
}

[data-tema = 'light'] {
  --background-body: #fcf9f9;
  --background-container: #fcf9f9;
  --color-body: black;
}